html {
  scroll-behavior: smooth;
 }
/*
 * Styling for nav bar
 */
#nav-link{
    position: relative;
}
#nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

#nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#arrow {
 text-decoration: none;
}

body{
  background-color: #31ad8c;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='gray' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");  
}

/* Parent Container */
#content_img{
  position: relative;
  float: left;
 }
 
 /* Child Text Container */
 #content_img div{
  position: absolute;
  top: 30%;
  color: black;
  margin-bottom: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 1.2s linear; 
  transition: visibility 0s, opacity 1.2s linear;
 }
 
 #content_img:hover div{
  width: 40%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.9; 
 }

 #image_content{
  user-select: none;
}